# Base files to ignore
GomokuAgentRand/
gomoku.py
gomokuAgent.py
misc.py


# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/misc.xml
*.iml
modules.xml
*.ipr
.DS_Store
